<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Test de Mecanică</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="center-title">Test de Mecanică</h1>

   <form action="{{ url_for('routes.quiz') }}" method="POST" class="button-center" style="width: 300px;">
    <label for="user_name" style="display: block; margin-bottom: 5px;">Numele tău:</label>
    <input type="text" name="user_name" required style="width: 100%; padding: 8px; margin-bottom: 15px;">

    <label style="display: block; margin-bottom: 10px;">Alege dificultatea:</label>

    <div>
        <button type="submit" name="difficulty" value="usor" class="btn">Ușor</button>
        <button type="submit" name="difficulty" value="intermediar" class="btn">Intermediu</button>
        <button type="submit" name="difficulty" value="avansat" class="btn">Avansat</button>
    </div>
</form>
</body>

