<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Punctaj</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="center-title">Punctaj</h1>

    <table border="1">
        <tr>
            <th>Nume</th>
            <th>Dificultate</th>
            <th>Scor</th>
        </tr>
        {% for score in scores %}
        <tr>
            <td>{{ score.name }}</td>
            <td>
                {% if score.difficulty == 'usor' %}Ușor
                {% elif score.difficulty == 'intermediar' %}Intermediu
                {% elif score.difficulty == 'avansat' %}Avansat
                {% else %}{{ score.difficulty }}
                {% endif %}
            </td>
                <td>{{ score.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="button-center">
    <a href="{{ url_for('routes.leaderboard_pdf') }}" class="btn" target="_blank" rel="noopener noreferrer">Descarcă PDF</a>
</div>
    <div class="button-center" style="margin-top: 10px;">
        <a href="/" class="btn">Înapoi la Home</a>
    </div>
</body>
</html>
